*
!/.gitignore
!/.gitmodules
!/README.md
!/.config/
!/.local/

# .pkglist
!/.pkglist
!/.pkglist/**

# Environment variables
!/.pam_environment

# Shell
!/.bashrc
!/.inputrc

# Screen
!/.screenrc

# .Xresources
!/.Xresources
!/.Xresources.monokai

# Vim
!/.vim

# EditorConfig
!/.editorconfig

# Default applications
!/.config/mimeapps.list

# systemd
!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/irexec.service

# git
!/.config/git/
!/.config/git/config

# i3
!/.config/i3/
!/.config/i3/config
!/.config/i3status/
!/.config/i3status/config

# picom
!/.config/picom/
!/.config/picom/picom.conf

# dunst
!/.config/dunst/
!/.config/dunst/dunstrc

# redshift
!/.config/redshift/
!/.config/redshift/redshift.conf

# LIRC
!/.config/lircrc
!/.config/lircrc.d/
!/.config/lircrc.d/irexec

# .local/bin/
!/.local/bin/
!/.local/bin/dotfiles
!/.local/bin/list-user-packages
!/.local/bin/lock-screen
!/.local/bin/pw-switch-sink
!/.local/bin/set-background

# .local/share/
!/.local/share/
!/.local/share/bash-completion/
!/.local/share/bash-completion/completions/
!/.local/share/bash-completion/completions/pw-switch-sink
