*
!/.gitignore
!/README.md
!/.config/
!/.local/

# .pkglist
!/.pkglist
!/.pkglist/**

# Environment variables
!/.pam_environment

# Shell
!/.bashrc
!/.inputrc

# git
!/.config/git/
!/.config/git/config
