*
!/.gitignore
!/.gitmodules
!/README.md
!/.config/
!/.local/

# .pkglist
!/.pkglist
!/.pkglist/**

# Environment variables
!/.pam_environment

# Shell
!/.bashrc
!/.inputrc

# Screen
!/.screenrc

# .Xresources
!/.Xresources
!/.Xresources.monokai

# Vim
!/.vim

# EditorConfig
!/.editorconfig

# Default applications
!/.config/mimeapps.list

# git
!/.config/git/
!/.config/git/config

# i3
!/.config/i3/
!/.config/i3/config
!/.config/i3status/
!/.config/i3status/config

# dunst
!/.config/dunst/
!/.config/dunst/dunstrc

# redshift
!/.config/redshift/
!/.config/redshift/redshift.conf

# .local/bin/
!/.local/bin/
!/.local/bin/dotfiles
!/.local/bin/list-user-packages
!/.local/bin/lock-screen
!/.local/bin/set-background
